/* *******************Navigation************ */

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: #fff;
}

.left {
  flex: 1;
}

.left h1 {
  font-size: 24px;
  margin: 0;
}

.right {
  flex: 1;
  text-align: right;
}

.right input[type="text"] {
  width: 60%;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  .nav1 {
    flex-direction: column;
    padding: 20px 10px;
  }

  .right {
    margin-top: 10px;
  }

  .right input[type="text"] {
    width: 100%;
  }
}




/* *****************MovieList***************** */


.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-item {
  flex-basis: 30.5%;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.movie-name {
  margin-top: 10px;
  font-size: 18px;
}

.movie-desc {
  height: auto;
  max-height: 150px;
  margin-top: 5px;
  font-size: 14px;

  margin-top: 5px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  padding: 10px;
}

@media screen and (max-width: 640px) {
  .movie-desc {
    height: auto;

  }
}

.movie-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.edit-button,
.delete-button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 640px) {
  .movie-item {
    flex-basis: 100%;
  }
}



/*  **************MovieForm ***********8*/


.movie-form {
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #f2f2f2;
  padding: 10px;
}

.movie-form input[type="text"],
.movie-form textarea {
  flex: 1 1 100%;
  flex-basis: 40%;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

}

.movie-form button {
  flex: 0 0 auto;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.movie-form button:hover {
  background-color: #0056b3;
}